*{
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
body{
    background-color: rgb(240, 240, 240);
    background: url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
}
#alarm{
    font-size: 130px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    margin: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
#title1 {
    user-select: none;
    margin-top: 110px;
    margin-bottom: 0px;
    text-align: center;
    white-space:nowrap;
    color: #FbFbFb;
    text-shadow: 1px 1px 6px #000;
    font-size: 3em;
}
#title1>img{
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.2em;
}

#title1>a{
    color: #FbFbFb;
}
#title2{
    user-select: none;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.92);
    text-shadow: 1px 1px 10px #4e4e4e;
    font-size: 1.7em;
    font-weight: 100;
}

.search {
    margin: 50px auto;
    width: 700px;
}

.search_engine {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.33);
    margin-bottom: 0;
    border-radius: 20px;
    width: 60px;
    height: 20px;
    padding: 4px 5px;
    opacity: 0.8;
    margin: 0 5px;
}

.search_engine:hover {
    background-color: #e7e7e7;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    padding: 4px 15px;
    opacity: 1;
}
.fir{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    padding: 4px 15px;
    opacity: 1;
}
.search_contral {
    border-radius: 100px;
    margin: 10px 0;
    width: 700px;
    height: 50px;
    transition-duration: 0.5s;
    opacity: 0.95;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.33);
    transition-duration: 0.5s;
}

.search_contral:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}

.search_contral>div {
    float: left;
}

#search_text {
    outline: none;
    border: 0;
    width: 640px;
    height: 50px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 250, 250, 0);
}

#search_png {
    width: 50px;
    opacity: 0.6;
}

.comweb {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 650px;
    border-radius: 8px;
    padding: 20px;
    user-select: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.33);
    transition-duration: 0.5s;
    opacity: 0.95;
}

.comweb>div {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    margin: 0 25px;
    padding: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.comweb:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}

.comweb div:hover {
    border-radius: 10px;
    background-color: rgba(145, 145, 145, 0.15);
    transition-duration: 0.4s;
}

.comweb_png {
    margin: 0;
    height: 70px;
    width: 70px;
    border-radius: 2000px;
}

.comweb_p {
    display: inline;
    margin: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
iframe{
    border: 0;
    width: 100%;
    height: 480px;
}
.maindiv{
    background-color: #FFFFFF;
    margin: 50px auto;
    width: 650px;
    border-radius: 8px;
    padding: 20px;
    user-select: none;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.33);
    transition-duration: 0.5s;
    opacity: 0.95;
}
.maindiv:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
}
.maindiv>h4{
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}
#footer {
    margin: 0;
    color: rgba(255, 255, 255, 0.81);
    font-size: 17px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
    width: 100%;
}
#footer>p{
    margin: 5px;
    font-size: 17px;
}
#fir:hover{
    cursor: pointer;
}